html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.columns{
	margin: 0 !important;
}

.gs-intro-container {
	background: #f7f7fd;
	min-height: 30rem;
}

.gs-intro-div {
	font-size: 2rem;
	text-align: center;
	margin-top: 2rem;
}

.gs-button-div {
	text-align: center;
	margin-top: 2rem;
}

.gs-intro-img-div {
	padding: 2rem;
	text-align: center;
}

.gs-intro-img {
	max-height: 24rem;
}

.gs-primary-color {
	color: #3273dc;
}

.gs-secondary-color {
	color: #f14668;
}

.content {
	display: flex;
	justify-content: center;
}

.circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	box-shadow: 0px 0px 1px 1px #0000001a;
  }
  
  .pulse {
	animation: pulse-animation 1.5s infinite;
  }
  
  @keyframes pulse-animation {
	0% {
	  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.3);
	}
	100% {
	  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
  }

